<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    {% include 'static/head.html' %}
<body>
    <!-- Spinner -->
    {% include 'static/spinner.html' %}
    <!-- Navbar -->
    {% include 'static/navbar.html' %}
    <!-- Header Start -->
    {% include 'static/header.html' %}
    <!-- Roadmap Start -->
    {% include 'static/roadmap-content.html' %} 
    <!-- Footer -->
    {% include 'static/footer.html' %}
    <!-- Back to Top -->
    {% include 'static/back-to-top.html' %}
    <!-- JavaScript Libraries -->
    {% include 'static/js-libs.html' %}
</body>
</html>